{% extends 'base.html' %}

{% block header_text %}Your park conditions reports{% endblock %}

{% block form_action %}/condition-reports/{{ report_list.id }}/add-reports{% endblock %}

{% block table%}
    <table id="id_condition_report_table" class="table">
    {% for report in report_list.conditionreport_set.all %}
        <tr><td>{{ report.date_time }}</td></tr>
        <tr><td>{{ report.road_condition }}</td></tr>
        <tr><td>{{ report.weather_report }}</td></tr>
        <tr><td>{{ report.crowds_report }}</td></tr>
        <tr><td>{{ report.report_notes }}</td></tr>
        <tr><td>----------------------------------------------------</td></tr>
    {% endfor %}
</table>
{% endblock %}