<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Prospect Park Conditions</title>
</head>
<body>
<h1>Prospect Park Conditions</h1>

<form method="POST" action="/condition-reports/new">
    <input name="new_date_time" id="id_new_date_time" placeholder="Enter the date and time of the report"/>
    <input name="new_road_condition" id="id_new_road_condition" placeholder="Enter a road condition for the report"/>
    <input name="new_weather_report" id="id_new_weather_report" placeholder="Enter the weather with the report"/>
    <input name="new_crowds_report" id="id_new_crowds_report" placeholder="Enter the crowd condition with the report"/>
    <input name="new_report_notes" id="id_new_report_notes" placeholder="Enter any notes with the report"/>

    <input id="id_submit_button" type="submit" value="Submit" />

    {% csrf_token %}
</form>
<table id="id_condition_report_table">
    {% for report in reports %}
        <tr><td>{{ report.date_time }}</td></tr>
        <tr><td>{{ report.road_condition }}</td></tr>
        <tr><td>{{ report.weather_report }}</td></tr>
        <tr><td>{{ report.crowds_report }}</td></tr>
        <tr><td>{{ report.report_notes }}</td></tr>
        <tr><td>----------------------------------------------------</td></tr>
    {% endfor %}
</table>
</body>
</html>